body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ql-snow .ql-color-picker .ql-picker-item {
  padding: 0 !important;
}

.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-options {
  padding: 6px !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  margin-right: 0;
}

.p-tree .p-treenode-children {
  padding: 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  font-size: 0.9rem;
}

.p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-treenode-selectable {
  font-size: 0.9rem;
}

.p-tree .p-tree-container .p-treenode .pi {
  font-size: 0.8rem;
}

.p-tree .p-tree-container .p-treenode .p-tree-toggler .p-icon {
  width: 0.7rem;
  height: 0.7rem;
}

.alert-modal {
  max-width: 600px !important;
}
